# Node.js\nnode_modules\n\n# Logs\nlogs\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\nlcov.info\n\n# Coverage directory used by tools like istanbul\ncoverage\n\n# Optional eslint cache\n.eslintcache\n\n# Optional REPL history\n.node_repl_history\n\n# Output of \'npm pack\'\n*.tgz\n\n# Yarn Integrity file\n.yarnclean\n\n# dotenv environment variables file\n.env\n.env*.local\n.env.development.local\n.env.test.local\n.env.production.local\n\n# Docker\ndocker-compose.override.yml\n\n#Pact files (can be stored in a Pact Broker instead)\npacts/\n\n# IDE / Editor specific\n.vscode/\n.idea/\n*.suo\n*.ntvs*\n*.njsproj\n*.sln\n*.sw? 
node_modules
