<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259479300315-6ef3ed01igu1gtjbulcuagb4bcdtpdua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259479300315-6ef3ed01igu1gtjbulcuagb4bcdtpdua</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srivatsadavuluriiii.SpendSync-ios-mocha-sUI-OAuth-RBD</string>
</dict>
</plist>